.container {
    with: 1000px;
    margin: 30px auto;
    background-color: #ddd;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 30px;

    grid-auto-rows: 80px;
    height: 1000px;
    
    // grid-auto-flow: column;
    // grid-auto-columns: .5fr;

    justify-content: space-between;

    .item {
        padding: 20px;
        color: white;
        font-family: serif;
        font-size: 30px;
        background-color: orangered;
    }
}